body {
  background: #f8f9fa;
}

.text-dark {
  color: #000;
}

.text-small {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  color: rgb(133, 133, 133);
  font-size: 12px;
}

.text-title-bold {
  font-weight: bold;
  color: rgb(133, 133, 133);
}

.greenBtn {
  border-radius: 10px;
  background: #016738;
  color: #fff;
}

.greenBtn:hover {
  color: orange;
}

.badge-warning {
  background: #fff8ee;
  color: orange;
}

.notSelectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-bar {
  color: #000;
}
